streamlit==1.36.0
torch
torchvision
torchaudio
opencv-python-headless==4.10.0.84
ultralytics==8.2.48
pytesseract==0.3.10
llama-index==0.10.53
llama-index-vector-stores-chroma==0.1.10
llama-index-embeddings-openai==0.1.10
llama-index-llms-openai==0.1.23
chromadb==0.5.3
openai==1.35.7
pdf2image==1.17.0
python-dotenv==1.0.1
Pillow==10.4.0
plotly==5.22.0
pandas==2.2.2
